.groupChild,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.15);
  width: 211px;
  height: 162px;
}
.groupItem {
  height: 62px;
}
.hello,
.rubeBaylor {
  position: absolute;
  top: 15px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 101px;
  height: 15px;
}
.hello {
  top: 0;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
  width: 39px;
}
.rubeBaylorParent {
  position: absolute;
  top: 16px;
  left: 72px;
  width: 101px;
  height: 30px;
}
.logOut,
.myProfile {
  position: absolute;
  top: 121px;
  left: 57px;
  display: inline-block;
  width: 52px;
  height: 15px;
}
.myProfile {
  top: 88px;
  width: 70px;
  height: 13px;
}
.groupInner {
  position: absolute;
  top: 10px;
  left: 13px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.vectorIcon {
  position: absolute;
  height: 10.29%;
  width: 6.06%;
  top: 54.32%;
  right: 80.19%;
  bottom: 35.39%;
  left: 13.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image19Icon {
  position: absolute;
  top: 123px;
  left: 29px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 16px;
  width: 211px;
  height: 162px;
}
.groupParent {
  position: relative;
  background-color: transparent;
  width: 241px;
  height: 180px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-cera-pro);
}
